---
layout: layouts/base.njk
title: Danilo
eleventyNavigation:
  key: fotografia
  title: Danilo
  order: 4
---

<div class="col-12">
  <h1>Danilo</h1>
  <p>
    La página de fotos.
  </p>
  <img src="https://i.blogs.es/a19bfc/testing/1024_2000.jpg" alt="">
  <img src="https://drive.google.com/file/d/17nmeRuPRpqTYlNat4qJI2iQ5_ORmWnnd/view?usp=sharing" alt="">
</div>